# Kernel for Debian GNU/kFreeBSD on all x86-64 machines

cpu		HAMMER
ident		Debian-amd64

hints          "GENERIC.hints"         # Default places to look for devices.

options		COMPAT_LINUX32

# Needed for D-I, see #596577
options		NKPT=240

include         GENERIC

# Switch default console to Newcons (see https://wiki.freebsd.org/Newcons)
nodevice	vga
nodevice	sc
device		vt
device		vt_vga

# Options used by all Debian kernels
include		DEBIAN
