# Kernel for Debian GNU/kFreeBSD on an i486 machine

cpu		I486_CPU
cpu		I586_CPU
cpu		I686_CPU
makeoptions	COPTFLAGS="-Os -pipe -march=i486 -mtune=i486"
ident		Debian-i486

hints          "GENERIC.hints"         # Default places to look for devices.

options		COMPAT_LINUX

# Xbox support
options 	XBOX

include		GENERIC

# Switch default console to Newcons (see https://wiki.freebsd.org/Newcons)
nodevice	vga
nodevice	sc
device		vt
device		vt_vga
device		vt_xboxfb

# Options used by all Debian kernels
include		DEBIAN
